.white{
  color: white;
}



.activity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.activity-card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activity-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.activity-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.activity-name {
  font-size: 24px;
  margin: 10px 0;
}

.activity-location, .activity-price {
  font-size: 18px;
  margin: 5px 0;
}

.activity-stars {
  display: flex;
  gap: 5px;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.links{
  color: white;
}

.links:hover{
  color: #17C3B2;
}

.img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  width: 100vw;
  height: 100vh;
}


.pre-btn , .next-btn{
  color: #17C3B2;
}

.pre-btn, .next-btn:hover{
  color: #096ddf;

}